@import "tailwindcss";

@theme {
  --color-primary: #162E5B;
  --color-accent: #C5A059;
  --color-accent-light: #E5CFA1;
  
  --font-serif: "Playfair Display", serif;
  --font-sans: "Inter", sans-serif;
}

@layer base {
  body {
    @apply font-sans bg-slate-50 text-slate-900;
  }
  
  h1, h2, h3, h4, h5, h6 {
    @apply font-serif;
  }
}
